* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    text-align: center;
}

main, section, #frame, .side, .side div, #result, #hand, #historic div {
    display: flex;
}

main {
    margin: auto;
    padding: 1rem;
    justify-content: space-around;
}

#game {
    flex-direction: column;
    flex-basis: 75%;
    justify-content: space-evenly;
    align-items: center;
}

#frame {
    width: 100%;
}

.side {
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

.side div:first-child {
    width: 20%;
    flex-direction: column;
}

.point {
    margin-top: 1rem;
    border: 1px black solid;
    font-size: 3vw;
}

.player {
    width: 45%;
    padding-bottom: 45%;
    border: 1px solid black;
    margin: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 5vh;
    font-size: 10vh;
}

#result {
    width: 100%;
    justify-content: center;
    font-size: 2vw;
}

#result span {
    margin: 1rem;
    flex-basis: 33%;
    border: red 4px double;
    border-radius: 10px;
    color: red;
    visibility: hidden;
}

#hand {
    width: 100%;
}

#hand div {
    width: 33%;
    padding-bottom: 33%;
    margin: 1rem;
}

#hand div {
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#historic {
    font-size: 2vw;
    flex-basis: 20%;
    flex-direction: column;
    border: 1px dashed black;
}

#chrono {
    max-height: 79vh;
    overflow: auto;
    border: none;
    flex-direction: column;
}

#historic div span {
    width: 33%;
}

.time {
    align-items: center;
}

.time div {
    width: 33%;
    height: 5vh;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

@media screen and (max-width: 800px){
    main {
        flex-direction: column;
    }

    h1 {
        font-size: 8vh;
    }

    .side {
        flex-direction: column;
        font-size: 10vw;
    }

    .side div:first-child {
        width: 30%;
    }

    #historic {
        width: 80%;
        margin: auto;
    }

    #chrono {
        max-height: 30vh;
    }
}

@media screen and (max-width: 600px){

    .player {
        width: 60%;
        padding-bottom: 60%;
    }

    #hand div {
        width: 28vw;
    }
}

@media screen and (max-width: 400px){

    h1 {
        font-size: 6vh;
    }
}